# Python
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo
*.egg
*.egg-info/
dist/
build/

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/

# Django stuff
*.log
db.sqlite3
db.sqlite3-journal
staticfiles/

# VS Code / PyCharm
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# dotenv / secret configs
.env
*.env

